.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
 
  }
  
  .profile__sidebar {
    flex: 0 0 25%;
    padding: 20px;
  }
  


  .profile__button-add {
   width: 88px;
   height: 25px;
   background-color: transparent;
  }