.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.header__add-clothes-btn {
  margin: 20px;
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-container:hover {
  cursor: pointer;
}

.header__username {
  margin: 0;
  font-family: CabinetGrotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 24.8px;
  letter-spacing: 0em;
  text-align: left;
  width: 157px;
  height: 25px;
  color: #000;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__username:hover {
  cursor: pointer;
}

.header__profile-link {
  text-decoration: none;
  color: #000;
}

.header__signup-btn {
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 0 20px 0 20px;
}


.header__signup-btn:hover {
  cursor: pointer;
}

.header__login-btn {
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 0 20px 0 20px;
}

.header__login-btn:hover {
  cursor: pointer;
}



.header__avatar {
  width: 56px;
  height: 56px;
}